*.a
*.o
*.so
./foo
/shell/foobar
/shell/fooo
/shell/foo
/shell/o/o/o/fooo
/gcc/exe/foo_gcc_exe
/gcc/exe/a.out
/gcc/shared/foo_shared
/gcc/shared/a.out
/gcc/static/foo_static
/gcc/exe_use_shared/foo_gcc_exe_use_shared
/gcc/exe_use_static/foo_gcc_exe_use_static
out
temp.txt
