*~
*.6
*.5
\*shell:*\*
\.#*

.smart/
_/

/make/out
/make/tests/work
/smart
/smart.a
/smart.go
/out
/grep
/TODO.tex
/TODO.pdf

/doc/bug.smart
/doc/w3.css

/test/android-toolchain/COPYING
/test/android-toolchain/COPYING.LIB
/test/android-toolchain/COPYING.RUNTIME
/test/android-toolchain/COPYING3
/test/android-toolchain/COPYING3.LIB
/test/android-toolchain/MODULE_LICENSE_GPL
/test/android-toolchain/NOTICE
/test/android-toolchain/arm-linux-androideabi/
/test/android-toolchain/bin/
/test/android-toolchain/include/
/test/android-toolchain/lib/
/test/android-toolchain/libexec/
/test/android-toolchain/repo.prop
/test/android-toolchain/sysroot/

/.emacs.desktop
/.emacs.desktop.lock
